body
{
  background-color: green;
}

header
{
  position: relative;
  display:flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 200px;
  margin-top: 1%;
  background-image: url('images/Foret_amazonienne.jpeg');
  border-radius: 23px;
}

#titre_principal
{
  background-color: black;
  border-bottom-left-radius: 23px;
}

#titre_principal h1
{
  margin-left: 13px;
  margin-right: 13px;
  font-size: 2em;
  color: white;
}

nav
{
  position: relative;
  bottom: -8%;
}

nav ul
{
  list-style-type: none;
  display: flex;
  background-color: black;
  border-bottom-right-radius: 23px;
}

nav li
{
  margin-right: 20px;
  font-size: 2em;
  color: white;
}

section
{
  display: flex;
  align-items: flex-start;
}

.article1
{
  width: 700px;
  padding: 2px 20px;
  margin: 20px 50px 0 20px;
  border-radius: 23px;
  background-color: black;
}

.article1 p, .article1 h2
{
  color: white;
}

#image1 img
{
  width: 700px;

}

#imageGuide
{
  display: flex;
  flex-direction: column;
}

#imageGuide img
{
  width: 400px;
  object-fit: contain;
  border-radius: 23px;
  margin-top: 20px;

}

p
{
  text-align: justify;
}
